@page
@model BattleShip_Web.Pages_Boards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Board[0].BoardId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Board[0].RowNodes.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Board) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowNodes.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BoardId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BoardId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BoardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
