@page
@model BattleShip_Web.Pages_Games.PlayModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Game.GameName)</h1>
<a asp-page="./Index">Back to List</a>
<table class="table">
    <thead>
    <tr>
        <th colspan="10">SelfBoard</th>
        <th></th>
        <th colspan="10">OppenentBoard</th>
    </tr>
    <tr>
        <th>A</th><th>B</th><th>C</th><th>D</th><th>E</th>
        <th>F</th><th>G</th><th>H</th><th>I</th><th>J</th>
        <th></th>
        <th>A</th><th>B</th><th>C</th><th>D</th><th>E</th>
        <th>F</th><th>G</th><th>H</th><th>I</th><th>J</th>

        <th></th>
    </tr>
    </thead>
    <tbody>
   
    @foreach (var item in Model.Game.Player1.SelfBoard.RowNodes)
    {
        <tr>          
            @foreach (var i in item.Nodes)
            {
                <td>@i.NodeValue</td>
            }
            <td>@(Model.Game.Player1.SelfBoard.RowNodes.IndexOf(item)+1)</td>
            @foreach (var i in Model.Game.Player1.OppenentBoard.RowNodes[Model.Game.Player1.SelfBoard.RowNodes.IndexOf(item)].Nodes)
            {
                <td>@i.NodeValue</td>
            }
        </tr>
    }
    <thead>
    <tr>
        <th colspan="5">Player1 Score:</th>
        <td colspan="5">@Model.Game.Player1.Score</td>
        <th></th>
        <th colspan="5">Player2 Score:</th>
        <td colspan="5">@Model.Game.Player2.Score</td>
    </tr>
    </thead>
</table>

    

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.GameId" />
            <div class="form-group">
                <label asp-for="Game.GMove" class="control-label">YOUR TURN</label>
                <input asp-for="Game.GMove" class="form-control" />
                <span asp-validation-for="Game.GMove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SHOOT" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th colspan="10">SelfBoard</th>
        <th></th>
        <th colspan="10">OppenentBoard</th>
    </tr>
    <tr>
        <th>A</th><th>B</th><th>C</th><th>D</th><th>E</th>
        <th>F</th><th>G</th><th>H</th><th>I</th><th>J</th>
        <th></th>
        <th>A</th><th>B</th><th>C</th><th>D</th><th>E</th>
        <th>F</th><th>G</th><th>H</th><th>I</th><th>J</th>

        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.Game.Player2.SelfBoard.RowNodes)
    {
        <tr>
            @foreach (var i in item.Nodes)
            {
                <td>@i.NodeValue</td>
            }
            <td>@(Model.Game.Player2.SelfBoard.RowNodes.IndexOf(item) + 1)</td>
            @foreach (var i in Model.Game.Player2.OppenentBoard.RowNodes[Model.Game.Player2.SelfBoard.RowNodes.IndexOf(item)].Nodes)
            {
                <td>@i.NodeValue</td>
            }
        </tr>
    }
    </tbody>
</table>


